# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Compiled output
dist/
build/

# Database files
*.sqlite
db-data/

# Local environment settings
.DS_Store
.idea/
.vscode/

# Production files
coverage/
*.pid

# Miscellaneous
*.swp
*.swo
